<div class="animated fadeIn">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Add Category</strong>
                    <small>Form</small>
                    <button (click)="backtobanner()" class="btn  btn-primary text-right float-right ">Back</button>
                </div>
                <div class="card-body">
                    <form>

                    </form>
                    <div class="form-group">
                        <label for="company">Category name</label>
                        <input type="text" class="form-control" id="city" placeholder="Category Name">
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-input">Category Image</label>
                        <div class="col-md-3">
                            <input type="file" id="file-input" name="file-input">
                        </div>

                    </div>
                    <!-- <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="city">Name</label>
                            <input type="text" class="form-control" id="city" placeholder="Banner Name">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="postal-code">Select Type </label>
                            <select class="form-control" placeholder="Enter Title">
                                <option selected>Select Type</option>
                                <option>Categories</option>
                                <option>Sub Categories</option>
                            </select>
                        </div>
                    </div> -->
                    <!--/.row-->
                    <!-- <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-input">Wesite Banner</label>
                        <div class="col-md-3">
                            <input type="file" id="file-input" name="file-input">
                        </div>
                        <label class="col-md-3 col-form-label" for="file-input">Mobile Banner</label>
                        <div class="col-md-3">
                            <input type="file" id="file-input" name="file-input">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success">Add Category</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>