<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><i class="icon-note"></i><strong>Add Staff</strong> - Form</div>
            <div class="card-body">
                <form>

                </form>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="city"> Name</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter First Name">

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter City">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Area</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter Area">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Address</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter Address">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Zipcode</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter Zipcode">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Mobile Number</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter Mobile Number">
                    </div>
                </div>
                <!--/.row-->
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Email</label>
                        <input type="email" class="form-control" id="city" placeholder="Enter email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Password</label>
                        <input type="password" class="form-control" id="city" placeholder="Enter password">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="city">Role</label>
                        <input type="email" class="form-control" id="city" placeholder="Enter Role">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success">Add Staff</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><strong>Permissions</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Categories</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck12">
                            <label class="custom-control-label" for="customCheck12">Sub Categories</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck13">
                            <label class="custom-control-label" for="customCheck13">Coupon Management</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck14">
                            <label class="custom-control-label" for="customCheck14">Products</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck15">
                            <label class="custom-control-label" for="customCheck15">Banners</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck16">
                            <label class="custom-control-label" for="customCheck16">User List</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck17">
                            <label class="custom-control-label" for="customCheck17">Notifications</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck18">
                            <label class="custom-control-label" for="customCheck18">Wholeseller List</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck19">
                            <label class="custom-control-label" for="customCheck19">Vendor Orders</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck20">
                            <label class="custom-control-label" for="customCheck20">User Orders</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck21">
                            <label class="custom-control-label" for="customCheck21">Content Management</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck22">
                            <label class="custom-control-label" for="customCheck22">Staff</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>