<div class="animated fadeIn">
  <!--/.row-->

  <!--/.card-->
  <div class="row mt-5 overall-users">
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <img src="assets/img/users.png">
          <h1>Users</h1>
          <div class="chart-wrapper">
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">89k</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <img src="assets/img/vendor.png">
          <h1>Vendors</h1>
          <div class="chart-wrapper">

          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">973k</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <img src="assets/img/seller.png">
          <h1>Whole Sellers</h1>
          <div class="chart-wrapper">

          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">500+</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <img src="assets/img/user-orders.png">
          <h1>User Orders</h1>
          <div class="chart-wrapper">
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">894</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <img src="assets/img/vendor-orders.png">
          <h1>Vendor Orders</h1>
          <div class="chart-wrapper">

          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">627</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <!--/.row-->
</div>
<style>
  .brand-card-header {
    height: 10rem !important;
    display: block;
    text-align: center;
  }

  .overall-users h1 {
    color: #ffffff;
  }

  .overall-users img {
    margin-bottom: 6px;
    margin-right: 12px;
    width: 31px;
    padding-top: 12%;
  }
</style>