// Here you can add other styles


.fa-pencil-square-o {
    vertical-align: sub
}

.edit-buttons i {
    margin-right: 12px;
    font-size: 22px;
    color: #646465;
}
// .module-buttons button{
// width:200px;
// }